.headline {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  margin-bottom: 40px;
}
.custom-toast {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  text-align: center;
  z-index: 1000;
  font-size: 16px;
  transition: bottom 0.5s ease-in-out;
}

.success {
  background-color: #5cb85c;
  color: white;
}

.error {
  background-color: #d9534f;
  color: white;
}
.toast-body-text {
  color: aliceblue;
}
.nav-profile {
  margin-right: 10px;
}
.nav-profile .dropdown-toggle::after {
  display: none !important;
}
.homePageTitle {
  /* border: #5cb85c solid 2px; */
  width: 60%;
  margin-left: 10%;
  margin-top: 5%;
}
.homePageSubTitleClass {
  color: rgb(57, 57, 56);
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  margin-bottom: 40px;
}
.homePageTitleClass {
  color: rgb(81, 81, 60);
}
.auth-page {
  /* margin-right: auto; */
  margin-right: 50px;
}
