.SearchPage {
  /* border: green solid 2px; */
  display: flex;
}
.SideBarSearch {
  flex: 0.2;
  width: 15%;
  border-right: #4b1818 solid 1px;
  /* border-top: rgb(75, 24, 24) solid 1px; */
  border-radius: 5px;
  padding: 20px;
  height: 100vh;
}

.dropdown-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.dropdown-group {
  display: flex;
  align-items: center;
  width: 100%;
}

.dropdown-label {
  margin-right: 10px;
  width: 80px; /* Adjust this width as needed to accommodate the longest label */
  text-align: right; /* Align the text to the right */
}

.dropdown-wrapper {
  flex: 1;
  position: relative;
}

.dropdown-control {
  width: 100%;
  padding-right: 30px;
  background: url('data:image/svg+xml;utf8,<svg fill="none" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M7 10l5 5 5-5z" fill="currentColor"/></svg>')
    no-repeat right center;
  background-size: 16px 16px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  padding: 10px 20px;
}

.dropdown-control:focus {
  border-color: #86b7fe;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  align-items: center;
  width: 100%;
}

.input-label {
  margin-right: 10px;
  width: 80px; /* Match the width of the dropdown-label */
  text-align: right; /* Align the text to the right */
}

.input-wrapper {
  flex: 1;
  position: relative;
}

.input-control {
  width: 100%;
  padding-right: 30px; /* Ensure consistent padding with dropdown */
  border: 1px solid #ced4da;
  border-radius: 4px;
  padding: 10px 20px;
}

.input-control:focus {
  border-color: #86b7fe;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.button-container {
  display: flex;
  align-items: center;
}

.submit-button {
  width: calc(
    100% - 80px
  ); /* Width of the input field, same as dropdown and input, minus label width */
  margin-left: 10px; /* Align with the input fields and dropdowns */
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  margin-top: 50px;
  width: 100%;
}

.submit-button:hover {
  background-color: #0056b3;
}
